.algorithmbtn {
    font-size: 120%;
}

.inputcontainer {
    width: 12%;
    margin-left: 44%;
}

.box {
    width: 50%;
    max-width: 50%;
    margin-left: 25%;
    height: 400px;
    border: 3px solid white;
    float: left;
}

.bar {
    background-color: white;
    height: 100%;
    float: left;
}

.slider {
    font-size: 200%;
    width: 20%;
    margin-left: 40%;
}

.input {
    scale: 150%;
}

.slider {
    float: left;
    width: 20%;
    margin-left: 35%;
}

.type {
    float: left;
    width: 20%;
    margin-left: 5%;
    scale: 125%;
}

.stop {
    float: left;
    width: 20%;
    margin-left: 1%;
    margin-top: 1%;
}

#sorting {
    width: 20%; 
    margin: auto;
}